
/* Light Teme */

.cndk-item-light #cndkAutoComplete {
    position: absolute;
    background: #fff;
    z-index: 999;
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
    max-height: 240px;
    overflow-y: auto;
}

.cndk-item-light .cndk-item {
    position: relative;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    color: #000;
}

.cndk-item-light .cndk-item:last-child {
    border-bottom: none;
}

.cndk-item-light .cndk-item:hover {
    z-index: 10;
}

.cndk-item-light .cndk-item:hover {
    background: #d2d2d2 !important;
}

.cndk-item-light .cndk-item-active {
    background: #f2f2f2 !important;
}

/* Dark Teme */

.cndk-item-dark #cndkAutoComplete {
    position: absolute;
    background: #333;
    z-index: 999;
    width: 100%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
    max-height: 240px;
    overflow-y: auto;
}

.cndk-item-dark .cndk-item {
    position: relative;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #666;
    color: #fff;
}

.cndk-item-dark .cndk-item:last-child {
    border-bottom: none;
}

.cndk-item-dark .cndk-item:hover {
    z-index: 10;
}

.cndk-item-dark .cndk-item:hover {
    background: #000 !important;
}

.cndk-item-dark .cndk-item-active {
    background: #666 !important;
}